<!--
  Generated template for the Pgeatab3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PGEA</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content >
    <ion-card>
      <ion-card-header text-wrap>
        <p style="color: orangered; text-align: center;">
          <strong> Tableau 3 : Plan de financement </strong>
        </p>
      </ion-card-header>
    </ion-card>
    <ion-list>
        <ion-item >
        <ion-icon name="" item-start class="ic" small style="font-size: 14px;">2016-2020</ion-icon>
          <h3 text-wrap> <em style="color: rgb(4, 75, 19);"> National</em> :  3 966 255 -> <strong>15%</strong></h3>
          <h3 text-wrap > <em style="color: rgb(139, 32, 25)"> Partenaires</em> : 22 475 445 -> <strong>85%</strong></h3>
        </ion-item>
        <ion-item >
        <ion-icon name="" item-start class="ic" small style="font-size: 14px;"  >2021-2025</ion-icon>
        <h3 text-wrap> <em style="color: rgb(4, 75, 19)">National </em>:  4 882 975 -> <strong>25%</strong></h3>
        <h3 text-wrap > <em style="color: rgb(139, 32, 25)">Partenaires </em>: 14 648 925 -> <strong>75%</strong></h3>
        </ion-item>
        <ion-item >
        <ion-icon name="" item-start class="ic" small style="font-size: 14px;"  >2026-2030</ion-icon>
        <h3 text-wrap> <em style="color: rgb(4, 75, 19)">National </em>:  5 687 420 -> <strong>40%</strong></h3>
        <h3 text-wrap > <em style="color: rgb(139, 32, 25)">Partenaires </em>:8 531 130 -> <strong>60%</strong></h3>
        </ion-item>
        <ion-item >
        <ion-icon name="" item-start  small style="font-size: 14px;"  > <strong style="color: rgb(224, 9, 9)"> TOTAL</strong></ion-icon>
        <h3 text-wrap> <em style="color: rgb(4, 75, 19)">National </em>:  14 536 650 -> <strong>24%</strong></h3>
        <h3 text-wrap > <em style="color: rgb(139, 32, 25)">Partenaires </em>: 45 655 500 -> <strong>76%</strong></h3>
        </ion-item>
      </ion-list>
  </ion-content>
