<!--
  Generated template for the PgeainstitutionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PGEA</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <p style="color: orangered; text-align: center;">
          <strong> ANCRAGE INSTITUTIONNEL ET OUTILS DE
              MISE EN ŒUVRE </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
        
        <p>e PGEA sera exécuté sous la tutelle technique
            et administrative du Ministère chargé de l’Eau
            et sous la tutelle financière du Ministère chargé
            des Finances. Au sein du Ministère chargé de
            l’Eau, le PGEA va démarrer en s’appuyant sur les
            structures existantes au niveau central et au niveau
            déconcentré. Conformément aux activités prévues
            pour la phase 1 du programme, d’importantes
            réformes institutionnelles sont attendues en vue
            d’améliorer l’efficacité du secteur. La mise en œuvre
            et le pilotage du PGEA seront donc adaptés à la
            nouvelle configuration institutionnelle issue de ces
            réformes. Dans tous les cas, le cadre institutionnel
            permettra d’assurer, d’une part, l’appropriation et
            la mise en œuvre efficace du programme par les
            services de l’Etat dans le cadre de leurs missions
            régaliennes, et d’autre part, les contributions efficaces des collectivités territoriales, du secteur privé
            et de la société civile dans leurs rôles respectifs. </p>
        <p>Pour sa mise en œuvre, le programme s’appuiera
            sur la description des responsabilités opérationnelles
            des différents acteurs concernés au sein du Ministère
            chargé de l’Eau et sur le dispositif et les procédures
            de suivi-évaluation qui sont prévus. </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
