<!--
  Generated template for the PgeaactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PGEA</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <p style="color: orangered; text-align: center;">
          <strong> ACTIONS </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
        <p> Les actions relatives à chaque objectif spécifique,
            sur la base des orientations stratégiques, sont
            présentées dans le tableau 1.</p>
        <p> </p>
        <ion-list>
            <ion-item *ngFor="let item of pgeaactions">
              <ion-icon name="arrow-dropright-circle" item-start class="ic" small></ion-icon>
              <h2 text-wrap> OS{{ item.N }}: {{ item.Objectifs }} </h2>
              <h3 text-wrap style="color:blueviolet">R{{ item.N }}: {{ item.Resultats }}</h3>
              <p text-wrap style="color:red">A{{ item.N }}: {{ item.Actions }}</p>
            </ion-item>
          </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
