page-tx-eq-pem {
    .col {
        border: solid 1px lightblue;
      } 
      .colval {
        max-width :35% !important;
        font-size: 16px ;
        color: blue; 
      } 
      .colval1 {
        max-width :35% !important;
        font-size: 16px ;
        
      } 
      .titre {
        background-color:lightgrey;
        text-align: center;
        
      }
      .com1 {
        max-width :25% !important;
    }

    .my-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.7);
      z-index: 20;
      top: 0;
      left: 0;
    }
}
