<!--
  Generated template for the PngiremenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-GIRE</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-list>
    <button ion-item (click)="goGireContexte ()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#E63135'}" item-start></ion-icon>
      Contexte
    </button>
    <button ion-item (click)="goGireDetails()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#0CA9EA'}" item-start></ion-icon>
      Objectifs
    </button>
    <button ion-item (click)="goGireStrat ()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#F46529'}" item-start></ion-icon>
      Approche stratégique 
    </button>
    <button ion-item (click)="goGireInsitution ()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#FFD439'}" item-start></ion-icon>
      Ancrage institutionnel
    </button>
    <button ion-item (click)="goGireFinance () " icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#CE6296'}" item-start></ion-icon>
      Budget et Financement
    </button>
    
  </ion-list>
</ion-content>
