<!--
  Generated template for the PgeafinancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PGEA</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <p style="color: orangered; text-align: center;">
          <strong> Coûts et financement </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
        
        <p> Le budget total du programme de 2016 à 2030 est
            estimé à 60.192.150.000 francs CFA répartis comme
            indiqué dans le tableau 2.</p>
        <p>Le PGEA ne disposant pas de financement acquis
            à son démarrage, l’ensemble des coûts évalués
            correspondent aux besoins de financement. </p>
        <p> Le PGEA sera financé à environ 24% par le
            gouvernement burkinabé à partir du budget national,
            soit un montant total de 14,5 milliards de FCFA.</p>
        <p>Le reste des besoins de financement sera couvert
            par les partenaires au développement soit une
            contribution totale de 45,6 milliards de FCFA. </p>
        <p> Le plan de financement vise une responsabilité
            dégressive des partenaires au développement, qui
            sera compensée par une responsabilité progressive
            du gouvernement, dans l’optique de la pérennité et
            de la durabilité.</p>
        <p>Par rapport à l’appui des partenaires au
            développement, les trois modalités opérationnelles
            suivantes sont envisagées : </p>
            <ul>
              <li>
                  L’appui budgétaire ;
              </li>
              <li>
                  Le panier commun de financement ;
              </li>
              <li>
                  L’aide projet.
              </li>
            </ul>
        <p> </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
