<!--
  Generated template for the PnaepmenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-AEP</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-list>
    <button ion-item (click)="goAepConexte()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#E63135'}" item-start></ion-icon>
      Contexte
    </button>
    <button ion-item (click)="goAepSynthese()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#0CA9EA'}" item-start></ion-icon>
      Synthèse diagnostic
    </button>
    <button ion-item (click)="goPnaepDetails()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#F46529'}" item-start></ion-icon>
      Objectifs 
    </button>
    <button ion-item (click)="goAepActions()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#FFD439'}" item-start></ion-icon>
      LE PN-AEP 2016-2030
    </button>
    <button ion-item (click)="goAepApproche()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#CE6296'}" item-start></ion-icon>
      Nouvelle approche du programme
    </button>
    <button ion-item (click)="goAepFinance()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#78BD43'}" item-start></ion-icon>
      Financement
    </button>
  </ion-list>
</ion-content>
