<!--
  Generated template for the PngireDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-GIRE</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="animate-in-primary">
<ion-card>
      <div align='center'>
    <img class="full-image" src="assets/imgs/gire.jpg">
    </div>
  <ion-card-header>
   <strong> Objectif principal du PN-GIRE </strong>
  </ion-card-header>
  <ion-card-content>
    L’objectif global du Programme National pour la Gestion Intégrée des Ressources en Eau (PNGIRE) est de 
    <strong>«Contribuer durablement à la satisfaction des besoins en eau douce des usagers et des écosystèmes aquatiques»</strong>
  </ion-card-content>
</ion-card>
    

    <ion-card>
  <ion-card-header>
   <strong> Les qctions spécifiques du PN-GIRE </strong>
  </ion-card-header>

  <ion-list>
    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Police de l’eau   
    </button>
    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Contribution Financière en Matière d’Eau (CFE)  
    </button>
    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Cadre institutionnel et instruments de gestion
    </button>
      <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Renforcement des capacités des agences de l’eau et des autres parties prenantes
    </button>
      <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Système national d’information sur l’eau (SNIEau)
    </button>
      <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Recherche-développement dans le domaine de l’eau
    </button>
      <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Protection des eaux de surface et souterraines contre les pollutions
    </button>
      <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Protection des plans d’eau contre le comblement et les végétaux aquatiques envahissants 
    </button>
      <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Intégration des aspects transversaux dans la gestion de l’eau
    </button>
       <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Communication et plaidoyer pour la gestion des ressources en eau
    </button>

  </ion-list>
</ion-card>
<div align='right' >
  <button ion-button secondary (click)="openIndicateurs()" class="animated fadeInUp" id="vis"> Indicateurs</button>
       </div>
</ion-content>