<!--
  Generated template for the AepcontextePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-AEP</ion-title>
  </ion-navbar>
</ion-header>



<ion-content >
  <ion-card>
    <ion-card-header>
      <p style="color: orangered; text-align: center;">     
        <strong > Contexte du PN-AEP </strong>
      </p>
    </ion-card-header>
    <ion-card-content>
        <p> La formulation du Programme National
          d’Approvisionnement en Eau Potable (PN-AEP)
          s’inscrit dans un contexte international caractérisé
          par la définition des objectifs de développement
          durable à l’horizon 2030. La revue à mi-parcours
          du Programme National d’Approvisionnement
          en Eau Potable et d’Assainissement (PN-AEPA) à
          l’horizon 2015 et du Plan d’Action pour la Gestion
          Intégrée des ressources en eau (PAGIRE) tenue en
          2013 a recommandé la proposition d’orientations
          stratégiques pour l’élaboration d’une politique
          sectorielle de l’eau et de l’assainissement assorties
          de programmes pour l’après 2015.</p>
          <p> C’est ainsi qu’une nouvelle politique nationale a
            été élaborée avec une vision déclinée comme suit :
            « En 2030, la ressource en eau du pays est connue
            et gérée efficacement pour réaliser le droit d’accès
            universel à l’eau et à l’assainissement, afin de
            contribuer au développement durable ». </p>
          <p> L’élaboration du PN-AEP s’est appuyée sur un
            rapport d’état des lieux de l’AEP réalisé entre
            septembre et décembre 2014. Il a consisté en une
            situation de référence tant sur les plans techniques,
            qu’institutionnels et organisationnels.</p>
          <p> Le processus, facilité par une équipe
            pluridisciplinaire de consultants, a été participatif,
            avec l’implication de tous les acteurs concernés par
            le sous-secteur. </p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
