<!--
  Generated template for the ProgrammesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Les 5 programmes budgétaires</ion-title>
  </ion-navbar>
</ion-header>


<ion-content  class="animate-in-primary">
    <ion-card>
        <div align='center' class="animated pulse">
            <img class="full-image" src="assets/imgs/blue-19.jpg"> 
  <ion-card-header text-wrap class="animated fadeInRightBig">
      <strong> La SNE : 05 Programmes budgetaires </strong>
  </ion-card-header> </div>
  <ion-list class="animated fadeInUpBig"> 
      
    <button ion-item text-wrap (click)="goAepmenu()">
      <ion-avatar item-start>
      <img src="assets/imgs/blue-19.jpg">
    </ion-avatar>
      <h2 >PN-AEP</h2>
        
      <p>Programme National d’Approvisionnement en Eau Potable</p>
      <h4 >  <strong> 1 461 000 000 000 FCFA </strong>  </h4>
    </button> 
    <button ion-item text-wrap (click)="goAeuemenu()">
      <ion-avatar item-start>
      <img src="assets/imgs/blue-19.jpg">
    </ion-avatar>
       <h2>PN-AEUE</h2>
      <p>Programme National d’Assainissement</p>
      <h4 ><strong> 1 215 944 894 500 FCFA </strong>  </h4>
    </button>

    <button ion-item text-wrap (click)="goGiremenu()" >
      <ion-avatar item-start>
      <img src="assets/imgs/gire2.png">
    </ion-avatar>
       <h2>PN-GIRE</h2>
      <p>Programme Gestion Intégrée des Ressources en Eau </p>
      <h4 ><strong>69 milliards FCFA </strong>  </h4>
    </button>
     <button ion-item text-wrap (click)="goPgeamenu()">
      <ion-avatar item-start>
      <img src="assets/imgs/church.jpg">
    </ion-avatar>
       <h2>PGEA</h2>
      <p>Programme Gouvernance du secteur « eau et assainissement »</p>
      <h4 ><strong> 60 192 150 000 FCFA </strong>  </h4>
    </button>
      <button ion-item text-wrap (click)="goPnahmenu()">
      <ion-avatar item-start>
      <img src="assets/imgs/gire.jpg">
    </ion-avatar>
       <h2>PN-AH</h2>
       <p>Programme National Aménagements Hydrauliques </p>
       <h4 ><strong> en cours d’élaboration </strong>  </h4>
    </button>
       </ion-list>
</ion-card>
    <div align='right'>
<button ion-button secondary (click)="goHome()">Retour </button>
    </div>
</ion-content>
