<!--
  Generated template for the GireinstitutionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-GIRE</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-card>
    <ion-card-header>
      <p style="color: orangered; text-align: center;">
        <strong> ANCRAGE INSTITUTIONNEL </strong>
      </p>
    </ion-card-header>
    <ion-card-content>
        <div class="accordion vertical">
            <ul>
                <li>
                    <input type="radio" id="radio-1" name="radio-accordion"  />
                    <label for="radio-1">Coordination et pilotage du programme </label>
                    <div class="content">
                        <h3 style="color: orangered">Coordination et pilotage du programme</h3>
                        <p>L’ancrage institutionnel du programme se situe
                            principalement au ministère chargé de l’eau qui
                            assure la tutelle technique. Le ministère chargé
                            de l’eau est le garant institutionnel de la gestion
                            intégrée des ressources en eau. A ce titre, il prend
                            toutes les décisions appropriées dans les divers
                            domaines pour réguler les usages de l’eau et
                            assurer la protection effective des ressources
                            en eau. L’ensemble des services et structures
                            rattachées du ministère est de ce fait astreint aux
                            obligations concourant à la gestion de l’eau mise en
                            œuvre par le PNGIRE.</p>
                        <p> La tutelle financière est assurée par le ministère en
                            charge des finances.</p>
                        <p>La coordination et le pilotage sont assurés par le comité
                            de pilotage et le SP/GIRE en tant que structure nationale
                            de coordination et de gestion du programme. </p>
                    </div>
                </li>
                <li>
                    <input type="radio" id="radio-2" name="radio-accordion" />
                    <label for="radio-2">Structures spécifiques de promotion du
                        programme</label>
                    <div class="content">
                        <h3 style="color: orangered">Structures spécifiques de promotion du programme</h3>
                        <p>Les structures spécifiques de promotion de
                            la gestion intégrée des ressources en eau
                            comprennent le conseil national de l’eau, le comité
                            technique de l’eau, les agences de l’eau et les
                            comités locaux de l’eau.</p>
                        <p>Les fonctions principales de ces structures sont
                            d’aider le gouvernement, à travers le ministre en
                            charge de l’eau, à prendre de bonnes décisions, à
                            appliquer de manière effective les actions tendant
                            à la protection et au financement de la gestion des
                            ressources en eau et à mobiliser et conscientiser
                            l’ensemble de la société sur la nécessité d’assurer
                            une gestion durable des ressources en eau.</p>
                        <p></p>
                    </div>
                </li>

                <li>
                  <input type="radio" id="radio-3" name="radio-accordion" />
                  <label for="radio-3"> Le conseil national de l’eau </label>
                  <div class="content">
                    <h3 style="color: orangered">Le conseil national de l’eau </h3>
                    <p>Le conseil national de l’eau est un organe consultatif
                        placé auprès du ministre en charge de l’eau et qui
                        apporte son concours à la définition des objectifs
                        généraux et des orientations de la politique
                        nationale tendant à réaliser une gestion durable
                        de l’eau. Il est l’organe par excellence de la mise
                        en œuvre de la coordination intersectorielle et de la
                        participation des parties prenantes dans la gestion des ressources en eau.</p>
                    <p></p>
                  </div>
                </li>
                <li>
                  <input type="radio" id="radio-4" name="radio-accordion" />
                  <label for="radio-4">Le comité technique de l’eau (CTE)</label>
                  <div class="content">
                    <h3 style="color: orangered">Le comité technique de l’eau (CTE)</h3>
                    <p>Le comité technique de l’eau est un organe de
                        coordination administrative et d’harmonisation
                        des politiques en matière d’eau des différents
                        départements ministériels. Présidé par le secrétaire
                        général du ministère en charge de l’eau, le CTE est
                        l’instance de concertation interministérielle destinée
                        à préparer les avis sur les projets de décisions à
                        soumettre au gouvernement.</p>
                    <p></p>
                    <p></p>
                  </div>
                </li>
                <li>
                  <input type="radio" id="radio-5" name="radio-accordion" />
                  <label for="radio-5">Les agences de l’eau</label>
                  <div class="content">
                    <h3 style="color: orangered">Les agences de l’eau</h3>
                    <p>Les agences de l’eau sont des groupements
                        d’intérêt public, car elles sont destinées à l’exécution
                        d’une mission de service public qui est la mise en
                        œuvre des orientations et les décisions prises dans
                        le domaine de l’eau.</p>
                    <p></p>
                  </div>
                </li>
                <li>
                  <input type="radio" id="radio-6" name="radio-accordion" />
                  <label for="radio-6">Les comités locaux de l’eau (CLE)</label>
                  <div class="content">
                    <h3 style="color: orangered">Les comités locaux de l’eau (CLE)</h3>
                    <p>Les comités de l’eau sont des organes de base au
                        niveau local des agences de l’eau. Ils contribuent
                        par leur proximité avec les usagers à l’identification
                        des problèmes relatifs aux usages de l’eau et à la
                        gestion concertée de l’eau. Leur positionnement
                        en tant qu’organes des agences leur permet de
                        participer activement à la vie de celles-ci.</p>
                    <p></p>
                  </div>
                </li>
                <li>
                  <input type="radio" id="radio-7" name="radio-accordion" />
                  <label for="radio-7">Structures responsables de l’exécution des actions</label>
                  <div class="content">
                    <h3 style="color: orangered">Structures responsables de l’exécution
                        des actions</h3>
                    <p>Le SP/GIRE est responsable du programme. Il est
                        appuyé dans la mise en œuvre par des structures
                        d’exécution des différentes actions (cf tableau ci-
                        dessous).</p>
                    <p></p>
                  </div>
                </li>

              </ul>
            </div>
      <p> </p>
      <p> </p>
      <p> </p>
    </ion-card-content>
  </ion-card>
</ion-content>
