<!--
  Generated template for the AeuefinancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PN-AEUE</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content >
    <ion-card>
      <ion-card-header>
        <p style="color: orangered; text-align: center;">     
          <strong > LE PN-AEUE 2016-2030 </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
        <p> Le financement du PN-AEUE se fera par la
          contribution des principaux acteurs que sont l’Etat,
          les Partenaires Techniques et Financiers (PTF), les
          ONG, les collectivités, le privé et les bénéficiaires.
          Chacun de ces acteurs formulera sa contribution
          en privilégiant les modalités de financement
          appropriées comme les appuis budgétaires
          (sectoriels), les appuis projets, les paniers communs
          et les PPP. </p>
        <p> Le coût total du programme s’élève à
          <strong>1  215  944  894  500 Francs CFA </strong> répartis
          en  <strong>735  349 319 000 Francs CFA </strong>pour le milieu
          rural,<strong> 480 595 575 500 Francs CFA </strong>pour le milieu
          urbain et <strong>49 157 299 000 Francs CFA</strong> pour les
          études d’impact environnemental et social. </p>
          <p>Au total, il est prévu, au niveau familial, la réalisation
            de 1 943 482 latrines et de 2 095  163  puisards
            en milieu rural et la réalisation de 972
            275  latrines et 680 593 puisards en milieu urbain.
            Les  autoréalisations se chiffrent à 325 347 latrines
            et 296 484 puisards, pour un montant global de
            <strong>80  216 555 725 francs CFA</strong>. </p>
          <p>La contribution totale attendue de la population
            bénéficiaire est de <strong>351 996 829 480 francs CFA</strong> soit
            <strong>29%</strong> du coût global du programme. </p>
          <p> Les travaux occupent la plus grande part du
            budget total (81%), le reste finançant les études
            et la recherche, les activités de changement de
            comportement et les mesures d’accompagnement
            visant la durabilité du service et les études d’impact
            environnemental et social. D’autres mesures
            d’accompagnement budgétisées dans le cadre du
            programme gouvernance eau et assainissement
            contribueront aux objectifs du PN-AEUE 2030.</p>
        <p> </p>
      </ion-card-content>
   </ion-card>
  </ion-content>
