<!--
  Generated template for the PgearesultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PGEA</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <p style="color: orangered; text-align: center;">
          <strong> RÉSULTATS ATTENDUS </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
        
        <p> </p>
        <ion-list>
            <ion-list-header>
                Les résultats attendus du PGEA sont :
            </ion-list-header>
            <ion-item text-wrap><strong style="color: orangered">R1 </strong> : Le pilotage et la coordination des actions
              du secteur se sont améliorées </ion-item>
            <ion-item text-wrap><strong style="color: orangered">R2 </strong>: La gestion des ressources humaines s’est
              améliorée</ion-item>
            <ion-item text-wrap><strong style="color: orangered">R3 </strong>: La gestion financière et matérielle s’est
              améliorée</ion-item>
            <ion-item text-wrap><strong style="color: orangered">R4 </strong>: La gestion de la commande publique s’est
              améliorée  </ion-item>
            <ion-item text-wrap><strong style="color: orangered">R5 </strong>: La communication interne et externe du
              secteur est améliorée  </ion-item>
            <ion-item text-wrap><strong style="color: orangered">R6 </strong>: la planification des actions, le suivi
              évaluation de la performance des
              programmes et la capitalisation des données
              statistiques du secteur sont améliorés </ion-item>
            <ion-item text-wrap><strong style="color: orangered">R7 </strong>: La gestion des systèmes d’information, la
              documentation et les archives du ministère
              sont améliorées  </ion-item>
            <ion-item text-wrap><strong style="color: orangered">R8 </strong>: La prise en compte du genre et des droits
              humains dans les actions du secteur eau et
              assainissement est effective </ion-item>
            <ion-item text-wrap><strong style="color: orangered">R9 </strong>: L’environnement d’intervention des acteurs
              du secteur s’est amélioré  </ion-item>
            
          </ion-list>
        <p> </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
