<!--
  Generated template for the AeuediagPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PN-AEUE</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content >
    <ion-card>
      <ion-card-header>
        <p style="color: orangered; text-align: center;">     
          <strong > ETUDE DIAGNOSTIQUE - SITUATION DE
              RÉFÉRENCE </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
        <p>En milieu rural, l’enquête nationale sur l’accès
            à l’assainissement des ménages (ENA) a révélé
            qu’en 2010, seules 89 342 personnes avaient
            accès à l’assainissement familial, soit 0,8% de la
            population ; la population additionnelle desservie
            jusqu’en 2015 est de 1 566 402 personnes,
            soit 12%. Les ménages disposant d’un système
            amélioré d’assainissement représentent un faible
            pourcentage dans chacune des régions du pays,
            même s’il y a des disparités régionales. Selon les
            objectifs du PN-AEPA, 395 118 latrines familiales
            devraient être réalisées à l’horizon 2015 : or sur
            cette cible, le gap de latrines à réaliser en 2015 est
            de 210 613 latrines familiales, soit  53,3%.
            En milieu urbain, le taux d’accès à l’assainissement
            des ménages était de 21,49% en 2010 ; en cinq ans,
            ce taux n’a atteint que 34,2% (rapports bilans 2010
            et 2015 du PN-AEPA).</p>
        <p> De l’analyse de l’état des lieux et du cadre
            contextuel du sous-secteur de l’assainissement, il
            ressort une série d’atouts qui ont permis d’imprimer
            une dynamique pour le secteur depuis la mise en
            œuvre du PN-AEPA, mais aussi des contraintes de
            divers ordres qui entravent cette dynamique ou
            sont de nature à remettre en cause les acquis du
            secteur, soit autant de défis à relever dans le sens
            de l’atteinte des ODD.</p>
        <p> </p>
        <p> </p>
      </ion-card-content>
   </ion-card>
  </ion-content>
