page-apropos {
    .apropos {
        background-image: url('../assets/imgs/memomea1.png');
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
}
