<!--
  Generated template for the PnaepDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PNAH</ion-title>
  </ion-navbar>
</ion-header>




<ion-content class="animate-in-primary">
  <ion-card>
      <div align='center'>
    <img class="full-image" src="assets/imgs/gire2.png">
    </div>
  <ion-card-header>
     <strong> Objectif principal du PNAH </strong>
  </ion-card-header>
  <ion-card-content>
   Ce programme est en cours d’élaboration 
  </ion-card-content>
</ion-card>
    

    <ion-card>
  <ion-card-header>
    <strong>Les objectifs spécifiques du PNAH </strong>
  </ion-card-header>

  <ion-list>
    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
      Ce programme est en cours d’élaboration
    </button>

    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
      Ce programme est en cours d’élaboration
    </button>

  </ion-list>
</ion-card>
<div align='right' >
  <button ion-button secondary (click)="openIndicateurs()" class="animated fadeInUp" id="vis"> Indicateurs</button>
       </div>
</ion-content>
