<!--
  Generated template for the AepapprochePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-AEP</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-card>
    <ion-card-header>
      <p style="color: orangered; text-align: center;">     
        <strong > NOUVELLE APPROCHE DU PROGRAMME </strong>
      </p>
    </ion-card-header>
    <ion-card-content>
        <p>Les systèmes traditionnels d’approvisionnement en
          eau potable (SAEP), à savoir les Puits modernes et
          les Forages équipés de pompes manuelles, ayant
          prouvé leurs limites en termes de satisfaction des
          besoins en eau des populations, il est envisagé,
          dans le cadre du présent PN AEP 2030, de réaliser,
          là où la ressource en eau est abondante, des
          centres de production d’eau (CPE) qui devront
          desservir en eau potable les populations cibles,
          de façon progressive, à travers des BF et des BP.
          Un « CPE type » d’une capacité de production de
          600 m3/jour pourra, en appliquant les cibles de consommation et de niveau de service en 2030,
          couvrir une population d’environ 30 000 personnes.</p>
        <p> Afin d’optimiser les coûts de revient de l’eau
          potable et de limiter les impacts environnementaux
          du programme, on privilégiera les énergies
          renouvelables telles que le solaire, le réseau
          électrique ou les réseaux hybrides (solaire-électrique). </p>
        <p>En vue de permettre à 9 969 200 personnes du
          milieu rural, à l’horizon 2030, d’être desservies par
          des BP et à 3 676 375 par des BF, il faudra mobiliser
          la somme de 824 milliards de francs CFA ou encore
          88 754 francs CFA par personne nouvellement
          desservie. Au vu du montant élevé des
          investissements et du nombre d’ouvrages à réaliser
          et à réhabiliter, le financement du programme se
          fera sur trois phases de 2016 à 2020, de 2021 à
          2025 et de 2025 à 2030.</p>
        <p>Cela nécessitera la réalisation de i) 471 CPE ; ii) 11
          428 km de réseau de distribution ; iii) 8 577 BF ; iv)
          994 548 BP ; v) 9 358 nouveaux PMH ; vi) 9 427
          réhabilitations de PMH et vii) 397 réhabilitations et
          mises à niveau d’AEPS.</p>
        <p>Pour atteindre sa Vision à l’Horizon 2030, l’ONEA
          doit atteindre les objectifs majeurs structurants
          suivants en matière d’AEP à l’horizon 2030 :</p>
          <ion-list inset>
              <button ion-item text-wrap>
                I.	un taux d’accès à l’eau potable égale à
                100%, avec continuité et qualité 24h/24 ;
            </button> 
              <button ion-item text-wrap>
                II.	 des performances opérationnelles et une
                meilleure qualité de service aux clients
            </button> 
              <button ion-item text-wrap>
                III.	 un prix de l’eau abordable pour tous ;
            </button> 
              <button ion-item text-wrap>
                IV. une société qui reste saine
                économiquement et financièrement
            </button> 
              <button ion-item text-wrap>
                V.	 population desservie en eau croissant de
                3,5 millions en 2015 à plus de 8 millions
                d’habitants en 2030
            </button> 
              <button ion-item text-wrap>
                VI.	 construction de près de 10 000 km de
                réseau d’eau, 70 000 m3 de réservoirs et
                250 000 m3/jour de capacité de production.
            </button> 

          </ion-list>


        <p>Par ailleurs, la recherche de l’équité et
          l’engagement du Burkina à atteindre l’accès
          universel à l’eau potable conduiront l’ONEA à
          étendre ses réseaux dans les villages qui sont
          rattachés aux communes où il intervient, dans la
          limite d’un rayon d’environ 5 km et des villages
          de plus de 2 000 habitants. Cela concernera
          également les zones non loties des centres urbains.</p>
        <p> En outre, dans le cadre de la création de centres
          de production, l’ONEA pourra desservir les villages
          traversés par les conduites de refoulement. L’ONEA
          agira en tant que maître d’ouvrage délégué pour
          le compte de la commune. Une délégation pour
          l’exploitation des installations qui prendra la forme
          la plus appropriée pour la commune pourra être
          faite à l’ONEA ou à un opérateur privé.</p>
        <p>A l’horizon 2030, le périmètre de l’ONEA passera
          de 57 centres à 77 centres avec un taux de desserte
          de 80% pour les Branchements Privés et 20%
          pour les Bornes Fontaines. Le développement
          des infrastructures en milieu urbain durant les
          quinze prochaines années est envisagé selon la
          même stratégie que celle du milieu rural qui est la
          construction de Centres de Production d’Eau (CPE)
          capables de desservir durablement plusieurs villes.</p>
        <p>Le plan d’investissement de l’ONEA sur la période
          de 2016 à 2030, selon les trois phases, prévoit des
          investissements de l’ordre de 498,014 Milliards de FCFA.</p>
        <p></p>
      
      </ion-card-content>
    </ion-card>
</ion-content>
