<!--
  Generated template for the AeuestratPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PN-AEUE</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content >
    <ion-card>
      <ion-card-header>
        <p style="color: orangered; text-align: center;">     
          <strong > STRATÉGIES DE MISE EN ŒUVRE </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
        <p> Le PN-AEUE 2030 conçoit l’accès à l’assainissement
          et à l’eau comme un droit humain que l’Etat doit
          garantir, respecter et protéger: Ce droit se fonde sur
          les principes de non-discrimination et d’universalité
          des droits, avec une attention particulière pour les
          groupes vulnérables et les pauvres. </p>
        <p> En milieu rural, comme en milieu urbain, les
          interventions s’appuient par ailleurs sur la
          promotion à grande échelle de l’Assainissement
          Total Piloté par la Communauté (ATPC) adopté par le
          Burkina Faso, le développement de l’intermédiation
          sociale (IMS), la promotion des autoréalisations,
          la promotion d’une gamme variée d’options
          technologiques évolutives et durables adaptées au
          contexte local et l’accès des groupes vulnérables
          et des pauvres aux services d’assainissement, à
          travers une subvention totale de la réalisation de
          leurs ouvrages d’assainissement.</p>
        <p>En milieu urbain, seront développé notamment
          l’assainissement collectif et des solutions
          adéquates de gestion des boues de vidange par
          l’extension ou la réalisation de Stations d’Epuration
          (STEP) qui recevront les effluents des réseaux
          d’assainissement semi-collectifs et/ou collectifs et
          de Stations de Traitement des Boues de Vidange
          (STBV) au niveau desquelles seront dépotées les
          boues issues des ouvrages d’assainissement
          autonome réutilisables. </p>
        <p> </p>
      </ion-card-content>
   </ion-card>
  </ion-content>
