<!--
  Generated template for the PgeamenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PGEA</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-list>
    <button ion-item (click)="goPgeaDetails()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#E63135'}" item-start></ion-icon>
      Objectifs
    </button>
    <button ion-item (click)="goPgeaResults()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#0CA9EA'}" item-start></ion-icon>
      Résultats attendus
    </button>
    <button ion-item (click)="goPgeaStrat()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#F46529'}" item-start></ion-icon>
       Approche stratégique
    </button>
    <button ion-item (click)="goPgeaActions()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#FFD439'}" item-start></ion-icon>
      Actions
    </button>
    <button ion-item (click)="goPgeaPhase()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#CE6296'}" item-start></ion-icon>
      Période d'exécution et phasage
    </button>
    <button ion-item (click)="goPgeaInsitution()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#78BD43'}" item-start></ion-icon>
      Ancrage institutionnel et outils de mise en oeuvre
    </button>
    <button ion-item (click)="goPgeaFinance()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#BE1012'}" item-start></ion-icon>
      Coûts et financement
    </button>
    <button ion-item (click)="goPgeaTab2()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#BA8239'}" item-start></ion-icon>
      Tab 2 : Budget reparti par Obj. Spec. (x1000)
    </button>
    <button ion-item (click)="goPgeaTab3()" icon-start>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#EE8239'}" item-start></ion-icon>
      Tab 3 : Plan de financement
    </button>
  </ion-list>
</ion-content>
