<!--
  Generated template for the Pgeatab2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PGEA</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-card>
    <ion-card-header text-wrap>
      <p style="color: orangered; text-align: center;">
        <strong> Tableau 2 : Budget réparti par objectifs spécifiques et par phase (x1000 CFA) </strong>
      </p>
    </ion-card-header>
  </ion-card>
  <ion-card *ngFor="let item of pgeaabudget">
    <ion-card-content>
        <ion-card-title style="color: blue; font-size: 16px;">
           {{item.Objectifs}}
        </ion-card-title>
      </ion-card-content>
  
      <ion-item>
        <ion-icon name="arrow-dropright-circle" item-start style="color: #d03e84" small></ion-icon>
        2016-2020
        <ion-badge item-end>{{item.b1}} FCFA</ion-badge>
      </ion-item>
  
      <ion-item>
        <ion-icon name="arrow-dropright-circle" item-start  style="color: #22acee" small></ion-icon>
        2021-2025
        <ion-badge item-end>{{item.b2}} FCFA</ion-badge>
      </ion-item>
      <ion-item>
       <ion-icon name="arrow-dropright-circle" item-start  style="color: #a922bb" small></ion-icon>
          2026-2030
        <ion-badge item-end>{{item.b3}} FCFA</ion-badge>
      </ion-item>
      <ion-item>
      <ion-icon name="logo-usd" item-start  style="color: #2c8116" small></ion-icon>
          TOTAL
        <ion-badge item-end>{{item.Total}} FCFA</ion-badge>
      </ion-item>
  
    </ion-card>
</ion-content>
