<!--
  Generated template for the ChartPemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Chart PEM</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>

        <canvas  #barCanvas width="350" height="400%"></canvas>  
        <div align='left'>
          <p align='left'>Source : INO 2017</p>
        </div>
</ion-content>
