<!--
  Generated template for the AeuecontextePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PN-AEUE</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content >
    <ion-card>
      <ion-card-header>
        <p style="color: orangered; text-align: center;">     
          <strong > Contexte et justificiation </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
        <p> Le Programme National d’Assainissement des
            Eaux Usées et Excréta (PN-AEUE) constitue le
            document de référence et le cadre programmatique
            des interventions au Burkina Faso concernant le
            sous- secteur de l’assainissement des eaux usées
            et excréta à l’horizon 2030.</p>
        <p> Le PN-AEUE se conforme à la vision globale de
            la politique nationale de l’eau, selon laquelle
            « en  2030, la ressource en eau du pays est connue
            et gérée efficacement pour réaliser le droit d’accès
            universel à l’eau et à l’assainissement, afin de
            contribuer au développement durable », et s’inscrit
            dans un contexte international marqué par la
            définition des Objectifs de Développement Durable
            (ODD) à l’horizon 2030.</p>
        <p> Le processus de concrétisation de cette vision,
            en adéquation avec les orientations définies par
            la politique nationale de l’eau, fonde les choix
            stratégiques du PN-AEUE 2030 sur le droit d’accès à
            l’assainissement pour tous, le financement durable,
            une connaissance plus fine des problématiques,
            une dynamique de changement de comportement
            des populations et une efficience dans le pilotage
            institutionnel du sous-secteur assainissement. </p>
        <p> </p>
      </ion-card-content>
   </ion-card>
  </ion-content>
