<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="bg-img" >
    <div align="center" class="animated fadeInDown  vis1">
    <img class="full-image" src="assets/imgs/burkinafaso.jpg">
    
    <h4 align="center" >S.N.E 2016-2030 </h4>
  </div>
    <h6 align="center" class="animated zoomIn vis">STRATEGIE NATIONALE DE L'EAU ET L'ASSAINISSEMENT </h6>
<ion-card-content>
 <button ion-button full text-wrap (click)='openDefis()' class="animated slideInUp vis"> Les défis de la SNE</button>
 <button ion-button full text-wrap (click)='openVision()' class="animated slideInUp vis"> La vision de la SNE</button>
 <button ion-button full text-wrap (click)='openOrientations()' class="animated slideInLeft vis"> Les Orientations Stratégiques </button>
 <button ion-button full text-wrap (click)='openStrategies()' class="animated slideInRight vis"> Les Choix Stratégiques</button>
 <button ion-button full text-wrap (click)='openProgrammes()' class="animated slideInDown vis"> Les Programmes</button>
 <button ion-button full text-wrap (click)='openIndicateurs()' class="animated slideInDown vis"> Indicateurs clés</button>
</ion-card-content>
  
</ion-content>
