page-home {
        img {
    width: 30%;
    height: auto;
    align : center;
}
.vis {
    -webkit-animation-duration: 3s;
   /* -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;*/
  }
  .vis1 {
    -webkit-animation-duration: 2s;
   /* -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;*/
  }
}
