<!--
  Generated template for the TxaccesaeuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Taux d'accès AEUE</ion-title>
    </ion-navbar>
  
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="pet">
        <ion-segment-button value="region">
          Région
        </ion-segment-button>
        <ion-segment-button value="province">
          Province
        </ion-segment-button>
        <ion-segment-button value="commune">
          Commune
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content> 
    <div [ngSwitch]="pet">
      <ion-list *ngSwitchCase="'region'" class="animated fadeInLeft">
                  <ion-searchbar  [(ngModel)]="term1"></ion-searchbar>
                  <p align="center"> Aucune donnée pour l'instant </p>
      </ion-list>
  
      <ion-list *ngSwitchCase="'province'" class="animated fadeInUp">
                  <ion-searchbar  [(ngModel)]="term2"></ion-searchbar>
                  <p align="center"> Aucune donnée pour l'instant </p>
      </ion-list>
      <ion-list *ngSwitchCase="'commune'" class="animated fadeInRight">
                  <ion-searchbar  [(ngModel)]="term3"></ion-searchbar>
                  <p align="center"> Aucune donnée pour l'instant </p>
      </ion-list>
    </div>
    <ion-fab right bottom>
      <button ion-fab fab-fixed color="light" (click)='showAlert()' class="animated slideInUp vis" >
              <ion-img width="32px" height="32px" src="assets/imgs/graph.png"></ion-img>
          </button>
  </ion-fab>
  </ion-content>
  