<!--
  Generated template for the AeueactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-AEUE</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <p style="color: orangered; text-align: center;">     
        <strong > Les actions du PN-AEUE 2016-2030 </strong>
      </p>
    </ion-card-header>
    <ion-card-content>
      <p>Le PN-AEUE 2030 s’articule autour de <strong > sept actions
          principales</strong> visant chacune plusieurs produits :</p>

          <div class="accordion vertical">
              <ul>
                  <li>
                      <input type="radio" id="radio-1" name="radio-accordion"  />
                      <label for="radio-1">Action 1 </label>
                      <div class="content">
                          <h3 style="color: orangered">Action 1 : Eradication de la défécation à l’air libre en milieu rural.</h3>
                          <p>Cette action a pour ambition d’éradiquer dans tous les villages
                              administratifs la défécation à l’air libre (DAL).
                              Elle vise également l’adoption de bonnes
                              pratiques d’hygiène et d’assainissement par
                              les communautés et plus spécifiquement par
                              les élèves, les enseignants et les usagers des
                              centres de santé.</p>
                      </div>
                  </li>
                  <li>
                      <input type="radio" id="radio-2" name="radio-accordion" />
                      <label for="radio-2">Action 2</label>
                      <div class="content">
                          <h3 style="color: orangered">Action 2 : Eradication de la défécation à l’air libre en milieu urbain</h3>
                          <p>Cette action
                              a pour ambition d’éradiquer dans tous les
                              secteurs urbains la défécation à l’air libre
                              (DAL). Elle vise également l’adoption de bonnes
                              pratiques d’hygiène et d’assainissement par
                              les communautés et plus spécifiquement par
                              les élèves, les enseignants et les usagers des
                              centres de santé ;</p>
                      </div>
                  </li>
                  <li>
                      <input type="radio" id="radio-3" name="radio-accordion" />
                      <label for="radio-3">Action 3 </label>
                      <div class="content">
                          <h3 style="color: orangered">Action 3 : Accès universel et continu aux
                              services d’assainissement en milieu rural.</h3>
                          <p>Le cycle de réalisation des ouvrages respecte
                              les principes de l’approche fondée sur les
                              droits humains (AFDH) et les services de
                              l’assainissement familial en milieu rural se
                              mettent en place conformément aux normes
                              en vigueur. Aussi, les outils et guides de
                              gestion du service public de l’assainissement sont finalisés, adaptés au nouveau contexte
                              (service universel, approche fondée sur les
                              droits humains, partenariat public-privé) et
                              appliqués. Le développement du service
                              public d’assainissement se fonde sur la
                              promotion du partenariat public-privé, de
                              la maîtrise d’ouvrage communale et de
                              l’intercommunalité.</p>
                      </div>
                  </li>
                  <li>
                      <input type="radio" id="radio-4" name="radio-accordion" />
                      <label for="radio-4">Action 4 </label>
                      <div class="content">
                          <h3 style="color: orangered">Action 4 : Accès universel et continu
                              aux services d’assainissement en milieu
                              urbain.</h3>
                          <p>Le cycle de réalisation des ouvrages
                              respecte les principes de l’approche fondée
                              sur les droits humains (AFDH) et les services
                              de l’assainissement familial dans les centres
                              urbains se mettent en place conformément
                              aux normes en vigueur. Aussi, les outils
                              et guides de gestion du service public de
                              l’assainissement sont finalisés, adaptés au
                              nouveau contexte (service universel, approche
                              fondée sur les droits humains, partenariat
                              public-privé) et appliqués. Le développement
                              du service public d’assainissement se fonde
                              sur la promotion du partenariat public-privé,
                              de la maîtrise d’ouvrage communale et de
                              l’intercommunalité.</p>
                      </div>
                  </li>
                  <li>
                      <input type="radio" id="radio-5" name="radio-accordion" />
                      <label for="radio-5">Action 5 </label>
                      <div class="content">
                          <h3 style="color: orangered">Action 5 : Optimisation de la gestion et
                              de la valorisation des eaux usées et boues
                              de vidange dans une perspective de
                              protection environnementale et sociale.</h3>
                          <p>Cette action vise une meilleure structuration et
                              un développement de la filière de gestion des
                              eaux usées et boues de vidanges.</p>
                      </div>
                  </li>
                  <li>
                      <input type="radio" id="radio-6" name="radio-accordion" />
                      <label for="radio-6">Action 6 </label>
                      <div class="content">
                          <h3 style="color: orangered">Action 6 : Développement de la recherche
                              dans le domaine de l’assainissement
                              des eaux usées et excréta.</h3>
                          <p>Cette action
                              vise l’amélioration et le développement de
                              technologies et approches innovantes utilisées
                              dans le passage à l’échelle.</p>
                      </div>
                  </li>
                  <li>
                      <input type="radio" id="radio-7" name="radio-accordion" />
                      <label for="radio-7">Action 7 </label>
                      <div class="content">
                          <h3 style="color: orangered">Action 7 : Renforcement des capacités
                              de financement, de gestion et de
                              pilotage du sous-secteur.</h3>
                          <p>Les ressources
                              financières nécessaires à la mise en œuvre
                              du programme seront progressivement
                              mobilisées, tandis que la mise en œuvre
                              s’accompagnera d’un encadrement législatif
                              et réglementaire, d’un renforcement des
                              capacités des acteurs à travers le programme
                              gouvernance, d’une communication
                              opérationnelle, de l’opérationnalisation d’un
                              guide d’intermédiation sociale ainsi que de la
                              coordination par l’entremise du Cadre Unifié
                              de Coordination de l’Assainissement (CUCA) et
                              du suivi-évaluation du programme.</p>
                      </div>
                  </li>
              </ul>
          </div>

      <p>A chaque action correspondent des produits qui
          sont matérialisés par des séries d’activités (cf. partie
          Actions et Produits attendus). </p>
      <p> </p>
      <p> </p>
    </ion-card-content>
 </ion-card>
</ion-content>
