<!--
  Generated template for the AepfinancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-AEP</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-card>
    <ion-card-header>
      <p style="color: orangered; text-align: center;">     
        <strong > FINANCEMENT </strong>
      </p>
    </ion-card-header>
    <ion-card-content>
        <p>Le budget total du PN-AEP 2030 s’élève à 1 461
          milliards de FCFA avec une répartition quasi identique
          entre la première et la deuxième phase (d’environ
          418 à 463 milliards de FCFA) et un budget d’environ
          580 milliards de FCFA pour la troisième phase.</p>
        <p>Ainsi, le budget annuel du PN-AEP varie entre
          84 - 93 milliards (phases 1 et 2) et 115 milliards
          (phase 3). Sachant que dans la période 2007- 2014
          les réalisations financières du secteur relatives à
          l’AEP n’ont été en moyenne que d’environ
          30 milliards FCFA par an, un bond significatif est
          attendu dans le cadre du PN-AEP en termes de
          capacité de mobilisation et de réalisation.</p>
        <p>Le financement du PN-AEP se fera par la
          contribution des principaux acteurs que sont l’Etat,
          les PTF, les ONG, les collectivités, le privé national
          et international et les usagers. Chacun de ces
          acteurs formulera sa contribution en privilégiant les
          modalités de financement appropriées comme les
          appuis budgétaires (sectoriels), les appuis projets,
          les paniers communs et les PPP.</p>
        <p></p>
        <p></p>
        <p></p>
      
      </ion-card-content>
    </ion-card>
</ion-content>
