<ion-menu [content]="content">
  <ion-header text-center class="hide-card">
      <img src="assets/imgs/burkinafaso.jpg" class="custom-avatar"/>
    <ion-toolbar>
      <ion-title>Synthese SNE</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="ios-water" class="it"> </ion-icon> {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>