// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.hide-card {
  -webkit-box-shadow: none!important;
}

.custom-avatar {
  height: 20vw;
  width: 20vw;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.bg-img {
  background-image: url('../assets/imgs/eau.png');
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.it {
  color: lightblue;
  font-size: 25px;
  margin-right: 10px;
}
.ic {
  color: blue;
  font-size: 25px;
}

@-webkit-keyframes animateInPrimary {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }
 
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}
 
@-webkit-keyframes animateInSecondary{
 
  0% {
    opacity: 0;
  }
 
  50% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}
 
.animate-in-primary {
    -webkit-animation: animateInPrimary;
    animation: animateInPrimary;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;
}
 
.animate-in-secondary {
    -webkit-animation: animateInSecondary ease-in 1;
    animation: animateInSecondary ease-in 1;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;
}