<!--
  Generated template for the AepactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-AEP</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
    <ion-card>
        <ion-card-header>
          <p style="color: orangered; text-align: center;">     
            <strong > LE PN-AEP 2016-2030 </strong>
          </p>
        </ion-card-header>
        <ion-card-content>
            <p>Il est à signaler que, tout comme pour le
            PN-EPA 2015, le PN-AEP 2030 reste le cadre
            programmatique national pour le développement
            du sous-secteur de l’AEP mais prend en compte
            les mutations opérées dans la nouvelle politique
            de l’eau, qui veut que : « la réalisation de
            l’approvisionnement en eau potable (AEP) applique
            une approche centrée sur les droits humains pour
            la définition des priorités » </p>
            <p> Cette nouvelle politique, qui découle de la volonté
                du Burkina d’aller d’ici 2030 à « l’accès universel
                à l’eau potable », suggère que la distinction entre
                AEP en milieu rural et AEP en milieu urbain soit
                progressivement abandonnée et que l’eau soit
                mobilisée là où la ressource est disponible et mise 	
                à la disposition des différents usages. </p>
            <p> Pour cela, le développement des services d’eau
                en milieu rural doit être pris en compte dans tout
                le processus de planification et de réalisation des
                infrastructures d’approvisionnement en eau potable. </p>
            <p> En effet le Programme ambitionne, à l’horizon 2030  : </p>
            <p></p>
              <ul>
                <li>
                  De faire évoluer le taux d’accès de 65% en 2015 à 100% en 2030 ;
                </li>
                <li>
                  D’augmenter la proportion de la population rurale desservie par Borne-Fontaine(BF) de 8,7% en 2015 à 24% en 2030 ;
                </li>
                <li>
                  D'augmenter la proportion de la population rurale desservie par Branchement Privé (BP) de 0,3% en 2015 à 56% en 2030 ; et
                </li>
                <li>
                  De faire diminuer la proportion de la population rurale desservie par Point d’Eau Moderne de 91% en 2015 à 20% en 2030.
                </li>
              </ul>
            
  </ion-card-content>
</ion-card>
</ion-content>
