<!--
  Generated template for the DefisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Les grands défis de la SNE</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-img">
  <ion-card>
    <div align='center' class="animated pulse">
      <img class="full-image" src="assets/imgs/defis.jpeg">
      <ion-card-header text-wrap class="animated bounceInDown ">
        <strong> La SNE: Les principaux défis </strong>
      </ion-card-header>
    </div>
    <ion-list >

      <button ion-item text-wrap class="animated bounceInLeft">
        <ion-icon name="planet" item-start class="ic"></ion-icon>
        la satisfaction des besoins en eau pour : l’approvisionnement en eau potable, agriculture, industries, énergie, environnement,
        etc.)
      </button>
      <button ion-item text-wrap class="animated bounceInRight">
        <ion-icon name="planet" item-start class="ic" class="ic"></ion-icon>
        la bonne connaissance de ressources en eaux pour bien gérer les différents besoins (surface et souterraine)
      </button>

      <button ion-item text-wrap class="animated bounceInLeft">
        <ion-icon name="planet" item-start class="ic"></ion-icon>
        la mise en place d’un système national d’information sur l’eau qui est une chaîne opérationnelle qui vise à fournir aux décideurs
        politiques, aux planificateurs, aux collectivités locales, et aux exploitants de l’eau, toute information utile relative
        aux ressources en eau, à ses usages, aux risques liés à cette ressource, aux besoins en eau de l’environnement
      </button>
      <button ion-item text-wrap class="animated bounceInRight">
        <ion-icon name="planet" item-start class="ic"></ion-icon>
        la lutte contre les pollutions et le suivi de la qualité des eaux, la protection des plans d’eau, cours d’eau et sources
      </button>
      <button ion-item text-wrap class="animated bounceInLeft">
        <ion-icon name="planet" item-start class="ic"></ion-icon>
        la protection des eaux de surface et souterraines contre les pollutions
      </button>
      <button ion-item text-wrap class="animated bounceInRight">
        <ion-icon name="planet" item-start class="ic"></ion-icon>
        la protection des plans d’eau contre le comblement et les végétaux aquatiques envahissants
      </button>
      <button ion-item text-wrap class="animated bounceInLeft">
        <ion-icon name="planet" item-start class="ic"></ion-icon>
        l’intégration des aspects transversaux (droit de l’homme, genre, adaptation aux changements climatiques) dans la gestion
        de l’eau
      </button>
    </ion-list>
  </ion-card>
  <div align='right'>
    <button ion-button secondary (click)="openVision()" class="animated bounceInUp">La vision </button>
  </div>
</ion-content>