page-vision {
 img {
    width: 100%;
    height: auto;  
}
#vis {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
   /* -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;*/
  }
}
