<!--
  Generated template for the VisionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>La vision de la SNE</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="bg-img">
<ion-card>
  <div align='center' class="animated pulse" id="vis">
    <img class="full-image" src="assets/imgs/blue-19.jpg">
    </div>
  <ion-card-content class="animated fadeInUp" id="vis">
    <ion-card-title>
      La VISION de la SNE
      </ion-card-title>
    <p text-wrap class="animated fadeInUp" id="vis">
     « En 2030, la ressource en eau du pays est connue et gérée efficacement pour réaliser le droit
     d’accès universel à l’eau et à l’assainissement, afin de contribuer au développement durable ». 
    </p>
  </ion-card-content>
</ion-card>
 <div align='right' >
<button ion-button secondary (click)="openOrientations()" class="animated fadeInUp" id="vis"> Orientations</button>
     </div>
</ion-content>
