page-indicateurs {
    img {
        width: 100%;
        height: 80%;
        align : center;
    }
    .vis {
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        
       /* -webkit-animation-delay: 2s;
        -webkit-animation-iteration-count: infinite;*/
      }
      .vis1 {
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        
       /* -webkit-animation-delay: 2s;
        -webkit-animation-iteration-count: infinite;*/
      }

}
