<!--
  Generated template for the IndicateursPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Indicateurs clés</ion-title>
    <ion-buttons end>
        <button ion-button color="primary" icon-only (click)='openHome()'>
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  class="bg-img" >
    <div align="center" class="animated fadeInDown  vis1">
    <img class="full-image" src="assets/imgs/indicateurs.jpeg">
    
    <h4 align="center" >SNE: Les indicateurs clés</h4>
  </div>
    <h6 align="center" class="animated zoomIn vis"> </h6>
<ion-card-content>
 <button ion-button full text-wrap (click)='openTxAccesAep()' class="animated slideInUp vis"> Taux d'accès à l'eau potable</button>
 <button ion-button full text-wrap (click)='openTxAccesAeue()' class="animated slideInUp vis"> Taux d'accès à l'assainissement</button>
 <button ion-button full text-wrap (click)='openTxFoncPem()' class="animated slideInLeft vis"> Taux de fonctionnalité des PEM </button>
 <button ion-button full text-wrap (click)='openTxEqPem()' class="animated slideInRight vis"> Taux de fonctionnalité AEPS PEA</button>
 <button ion-button full text-wrap  class="animated slideInDown vis"> Autres chiffres</button>
</ion-card-content>
  
</ion-content>
