<!--
  Generated template for the OrientationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Orientations Stratégiques</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-img">
<ion-card >
    <div align='center' class="animated pulse">
        <img class="full-image" src="assets/imgs/pgea.jpg">
  <ion-card-header text-wrap class="animated fadeInDown ">
      <strong>La SNE: Les Orientations Stratégiques </strong>
  </ion-card-header>
</div>

  <ion-list>
      
    <button ion-item text-wrap class="animated fadeInLeft vis1">
      <ion-icon name="arrow-dropright-circle" item-start class="ic"></ion-icon>
       1- Assurer le droit d’accès universel à l’eau et l’assainissement
    </button> 
    <button ion-item text-wrap class="animated fadeInLeft  vis2">
      <ion-icon name="arrow-dropright-circle" item-start class="ic"></ion-icon>
      2- Améliorer la connaissance et la gestion des ressources en eau du pays
    </button>

    <button ion-item text-wrap class="animated fadeInLeft  vis3">
      <ion-icon name="arrow-dropright-circle" item-start class="ic"></ion-icon>
      3- Promouvoir le développement durable dans le secteur de l’eau
    </button>
       </ion-list>
</ion-card>
    <div align='right'>
<button ion-button secondary (click)="openStrategies()" class="animated bounceInUp">Choix stratégiques</button>
    </div>
</ion-content>

