page-orientations {
    .vis1 {
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
       /* -webkit-animation-delay: 2s;
        -webkit-animation-iteration-count: infinite;*/
      }
      .vis2 {
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 1s;
        animation-duration: 2s;
        animation-delay: 1s;
       /* -webkit-animation-iteration-count: infinite;*/
      }
      .vis3 {
        -webkit-animation-duration: 2s;
        -webkit-animation-delay: 2s;
        animation-duration: 2s;
        animation-delay: 2s;
       /* -webkit-animation-iteration-count: infinite;*/
      }
}
