<!--
  Generated template for the GirestratPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-GIRE</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-card>
    <ion-card-header>
      <p style="color: orangered; text-align: center;">
        <strong> APPROCHES STRATEGIQUES </strong>
      </p>
    </ion-card-header>
    <ion-card-content>
      <p> Les efforts en matière de développement
        économique et social dans les prochaines
        décennies seront orientés sur la quête du
        développement durable dont certains thèmes
        resteront prédominants dans les différents niveaux
        et instances de dialogue. Il s’agit en particulier
        de ceux relatifs à l’élimination de la pauvreté,
        à la promotion d’une économie verte et des
        droits humains, à la santé, à la gouvernance
        environnementale, à la recherche d’une sécurité
        alimentaire et énergétique et à l’édification
        d’habitats humains plus viables.</p>
      <p> Afin de s’assurer de l’atteinte de l’objectif du
        programme GIRE 2016-2030 dans un tel cadre, et
        au regard des nombreuses contraintes, les actions
        du programme seront guidées par les approches
        suivantes :</p>

        <ul>
          <li>
            engager les acteurs et toutes les parties prenantes
            à la réalisation des actions concrètes de protection
            des ressources en eau sur le terrain ;
          </li>
          <li>
            développer et consolider les agences de l’eau ;
          </li>
          <li>
            accroître les compétences de l’administration
            publique dans la mise en œuvre de ses
            fonctions régaliennes, avec une priorité
            donnée à la police de l’eau et à la mise en
            œuvre de la contribution financière en matière
            d’eau (CFE) ;
          </li>
          <li>
            rechercher l’autonomisation et la durabilité du
            système national d’information sur l’eau ;
          </li>
          <li>
            développer les interactions entre les processus
            de gestion intégrée des ressource en eau
            (GIRE) et de décentralisation ;
          </li>
          <li>
            poursuivre le développement de la
            coopération régionale et internationale ;
          </li>
          <li>
            poursuivre le développement de la
            coopération régionale et internationale ;
          </li>
          <li>
            intégrer les aspects genre, pauvreté,
            croissance, droits humains et changements
            climatiques dans la planification, la mise en
            œuvre des actions et leur suivi-évaluation
            dans le domaine des ressources en eau. Dans
            ce cadre, le PNGIRE participera à l’élaboration
            et la mise en œuvre des actions relatives à
            ces  thèmes.
          </li>
         
        </ul>
      <p> </p>
    </ion-card-content>
  </ion-card>
</ion-content>
