<!--
  Generated template for the PgeastratPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PGEA</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <p style="color: orangered; text-align: center;">
          <strong> APPROCHES STRATÉGIQUES </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
          <ion-list>
            <ion-list-header>
                La mise en œuvre du PGEA se basera sur les cinq
                orientations stratégiques majeures suivantes:
            </ion-list-header>
            <ion-item text-wrap>
              <strong style="color: orangered">1 </strong>: Identifier et mettre en œuvre des solutions
              appropriées pour surmonter les freins et
              obstacles structurels et procéduriers à
              l’efficacité de la mobilisation et de la gestion
              des financements pour les investissements.</ion-item>
              <ion-item text-wrap>
              <strong style="color: orangered">2 </strong>: Renforcer les fonctions régaliennes de pilotage
              et de coordination sectoriels (y compris
              législation, règlementation, régulation, suivi-
              évaluation sectoriel, pilotage, promotion du
              genre et des droits humains, communication,
              développement des RH et capacités
              managériales).</ion-item>
              <ion-item text-wrap>
              <strong style="color: orangered">3 </strong>: Développer les conditions de la maîtrise
              d’ouvrage effective au niveau communal ou
              intercommunal.</ion-item>
              <ion-item text-wrap>
              <strong style="color: orangered">4 </strong>: Développer les conditions pour assurer un
              financement souverain et durable du secteur
              de l’eau par l’accroissement des financements
              internes innovants.</ion-item>
              <ion-item text-wrap>
              <strong style="color: orangered">5 </strong>: Promouvoir la veille et le contrôle citoyens pour
              l’accès universel à l’eau et à l’assainissement.</ion-item>
          
          </ion-list>
        <p> </p>
        <p> </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
