<!--
  Generated template for the PnaeueDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-AEUE</ion-title>
  </ion-navbar>
</ion-header>



<ion-content class="animate-in-primary">
<ion-card>
      <div align='center'>
    <img class="full-image" src="assets/imgs/aeue.jpg">
    </div>
  <ion-card-header>
   <strong> Objectif principal du PN-AEUE </strong>
  </ion-card-header>
  <ion-card-content>
    L’objectif général du PN-Assainissement est d’assurer un 
    assainissement durable des eaux usées et excréta d’ici 2030 
  </ion-card-content>
</ion-card>
    

    <ion-card>
  <ion-card-header>
   <strong> Les objectifs spécifiques du PN-AEUE </strong>
  </ion-card-header>

  <ion-list>
    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Eradiquer la défécation à l’air libre (DAL) dans un contexte de changement positif de comportement    </button>
    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Assurer un accès universel et continu des populations aux services d’assainissement conformément à l’approche fondée sur les droits humains (AFDH)  </button>
    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Optimiser la gestion et la valorisation des eaux usées et boues de vidange dans une perspective de protection environnementale et sociale
    </button>
      <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Développer la recherche dans le domaine de l’assainissement des eaux usées et excréta en soutien à l’amélioration de l’offre technologique et des pratiques
    </button>
      <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
Renforcer les capacités de financement, de gestion et de pilotage du sous-secteur
    </button>

  </ion-list>
</ion-card>
<div align='right' >
  <button ion-button secondary (click)="openIndicateurs()" class="animated fadeInUp" id="vis"> Indicateurs</button>
       </div>
</ion-content>
