<!--
  Generated template for the PnaepDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-AEP</ion-title>
  </ion-navbar>
</ion-header>




<ion-content class="animate-in-primary">
  <ion-card>
      <div align='center'>
    <img class="full-image" src="assets/imgs/aep.jpg">
    </div>
  <ion-card-header>
     <strong> Objectif principal du PN-AEP </strong>
  </ion-card-header>
  <ion-card-content>
    L’objectif du Programme national d'approvisionnement en eau potable (PN-AEP) 2016-2030 est de
    satisfaire durablement les besoins en eau potable des populations en quantité et en qualité. 
  </ion-card-content>
</ion-card>
    

    <ion-card>
  <ion-card-header>
    <strong>Les objectifs spécifiques du PN-AEP </strong>
  </ion-card-header>

  <ion-list>
    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
      assurer un accès universel des populations aux services d’eau potable conformément à l'approche fondée sur les droits humains (AFDH)
    </button>

    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
      contribuer à la gestion durable des infrastructures d’AEP, dans le respect de l’accès universel au service de l’eau potable
    </button>

    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
      améliorer les capacités de pilotage et de gestion du sous-secteur
    </button>

  </ion-list>
</ion-card>
<div align='right' >
  <button ion-button secondary (click)="openIndicateurs()" class="animated fadeInUp" id="vis"> Indicateurs</button>
       </div>
</ion-content>
