<!--
  Generated template for the PgeaphasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PGEA</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <p style="color: orangered; text-align: center;">
          <strong> Phase </strong>
        </p>
      </ion-card-header>
      <ion-card-content>
        
        <p>Le PGEA sera mis en œuvre de 2016 à 2030 à
            travers les trois phases opérationnelles suivantes :
            <p><strong style="color: orangered">Phase 1 (2016-2020)</strong> : Amélioration de l’existant et
            prospection</p>
            <p><strong style="color: orangered">Phase 2 (2021-2025) </strong>: Mise en œuvre des réformes</p>
            <p><strong style="color: orangered">Phase 3 (2026-2030) </strong>: Pérennisation des acquis </p>
        <p> </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
