<!--
  Generated template for the GirecontextePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-GIRE</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-card>
    <ion-card-header>
      <p style="color: orangered; text-align: center;">
        <strong> Contexte </strong>
      </p>
    </ion-card-header>
    <ion-card-content>
      <p> epuis le milieu des années 1990, le Burkina Faso
        s’est engagé dans la formulation et la mise en
        œuvre d’un plan d’action de gestion intégrée des
        ressources en eau adapté au contexte national. En
        une quinzaine d’années, de nombreuses étapes
        majeures ont été franchies, parmi lesquelles la
        préparation d’un état des lieux des ressources
        en eau et de leur cadre de gestion, la formulation
        et l’adoption de la loi n°002-AN/2001 portant loi
        d’orientation relative à la gestion de l’eau et de
        nombreux textes d’application, la formulation et la
        mise en œuvre d’un plan d’action pour la gestion
        intégrée des ressources en eau (PAGIRE), la création
        du conseil national de l’eau, du comité technique
        de l’eau, du secrétariat permanent du PAGIRE, des
        agences de l’eau, de comités locaux de l’eau, ainsi
        que la conception et la mise en application de la
        contribution financière en matière d’eau.</p>
      <p>L’adoption et la mise en œuvre de la GIRE sont
        des éléments d’une réforme très profonde de
        la gestion de l’eau du pays, accompagnée par
        la décentralisation et les stratégies nationales
        de croissance, de réduction de la pauvreté, de
        développement durable, qui se succèdent pour
        s’adapter au mieux aux conditions toujours
        changeantes, qu’elles soient économiques,
        sociales, politiques ou environnementales. </p>
      <p>Toutefois, ce processus n’est pas achevé et des
        actions restent à mener pour continuer cette
        réforme et consolider la GIRE. </p>
      <p> </p>
      <p> </p>
    </ion-card-content>
  </ion-card>
</ion-content>