<!--
  Generated template for the PnaeuemenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-AEUE 2030</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <ion-list>
    <button ion-item (click)="goAeueContexte()" icon-start text-wrap>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#E63135'}" item-start></ion-icon>
      Contexte et justificiation
    </button>
    <button ion-item (click)="goAeueDiag()" icon-start text-wrap>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#0CA9EA'}" item-start></ion-icon>
      Etude diagnostic - Situation de référence
    </button>
    <button ion-item (click)="goPnaeueDetails()" icon-start text-wrap>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#F46529'}" item-start></ion-icon>
      Objectifs 
    </button>
    <button ion-item (click)="goAeueActions()" icon-start text-wrap>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#FFD439'}" item-start></ion-icon>
      Actions – Produits 
    </button>
    <button ion-item (click)="goAeueStrat()" icon-start text-wrap>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#CE6296'}" item-start></ion-icon>
      Stratégies de mise en oeuvre 
    </button>
    <button ion-item (click)="goAeueFinance()" icon-start text-wrap>
      <ion-icon name="ios-arrow-forward" [ngStyle]="{'color': '#78BD43'}" item-start></ion-icon>
      Financement 
    </button>
  </ion-list>
</ion-content>
