<!--
  Generated template for the PnaepDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PGEA</ion-title>
  </ion-navbar>
</ion-header>




<ion-content class="animate-in-primary">
  <ion-card class="bg-img">
      <div align='center'>
    <img class="full-image" src="assets/imgs/pgea.jpg">
    </div>
  <ion-card-header>
     <strong> Objectif principal du PGEA </strong>
  </ion-card-header>
  <ion-card-content>
    L’objectif général du programme est 
    d’améliorer la gouvernance du secteur de l’eau et de l’assainissement 
  </ion-card-content>
</ion-card>
    

    <ion-card class="bg-img">
  <ion-card-header>
    <strong>Les objectifs spécifiques du PGEA </strong>
  </ion-card-header>

  <ion-list >
    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
      Améliorer l’efficacité du pilotage et de la coordination du secteur
    </button>

    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
      Améliorer l’efficacité des interventions de tous les acteurs du secteur
    </button>

    <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
      Améliorer l’efficacité du suivi-évaluation et de la communication du secteur
    </button>
      <button ion-item text-wrap>
      <ion-icon name="arrow-forward" item-start class="ic"></ion-icon>
      Assurer une prise en compte effective du genre et des droits humains dans le secteur eau et assainissemen
    </button>

  </ion-list>
</ion-card>
<div align='right' >
  <button ion-button secondary (click)="openIndicateurs()" class="animated fadeInUp" id="vis"> Indicateurs</button>
       </div>
</ion-content>
