<!--
  Generated template for the StrategiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>5 Choix Stratégiques</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
 
  <ion-card>
      <div align='center' class="animated pulse">
          <img class="full-image" src="assets/imgs/strategie.jpeg">
  <ion-card-header text-wrap>
      <strong>La SNE: Les Choix Stratégiques </strong>
  </ion-card-header></div>

  <ion-list class="strat">
      
    <button ion-item text-wrap class="animated fadeInUp vis1">
      <ion-icon name="arrow-dropright-circle" item-start class="ic"></ion-icon>
      1- Mobilisation durable des ressources en eau
    </button> 

    <button ion-item text-wrap class="animated fadeInUp vis2">
      <ion-icon name="arrow-dropright-circle" item-start class="ic"></ion-icon>
      2- Satisfaction durable des besoins en eau douce des usagers et des écosystèmes aquatiques
    </button>

    <button ion-item text-wrap class="animated fadeInUp vis3">
      <ion-icon name="arrow-dropright-circle" item-start class="ic"></ion-icon>
      3- Satisfaction durable des besoins en eau potable de qualité
    </button>

    <button ion-item text-wrap class="animated fadeInUp vis4">
      <ion-icon name="arrow-dropright-circle" item-start class="ic"></ion-icon>
      4- Assainissement durable des eaux usées et excréta
    </button>
      <button ion-item text-wrap class="animated fadeInUp vis5">
      <ion-icon name="arrow-dropright-circle" item-start class="ic"></ion-icon>
      5- Amélioration de la gouvernance du secteur de l’eau
    </button>

  </ion-list>
</ion-card>
<div align='right'>
<button ion-button secondary (click)="openProgrammes()">Les programmes budgétaires</button>
</div>
</ion-content>
