<!--
  Generated template for the AepsynthesePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Le programme PN-AEP</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content >
    <ion-card>
        <ion-card-header>
          <p style="color: orangered; text-align: center;">     
            <strong > Synthèse du diagnostic </strong>
          </p>
        </ion-card-header>
        <ion-card-content>
            <p> Au Burkina Faso, l’approvisionnement en eau
                potable en milieu rural et semi urbain est assuré
                principalement par des puits modernes, des forages
                et des bornes fontaines. Au 31 décembre 2015, on
                dénombrait 58 003 Points d’Eau Modernes (PEM),
                dont 48 808 forages et 8 258 puits modernes.
                Le taux de fonctionnalité des pompes à motricité
                humaine équipant les forages était de 88,7 %. 937
                Systèmes d’Adduction d’Eau Potable Simplifié (AEPS)
                et Postes d’Eau Modernes (PEA) étaient réalisés avec
                un taux de fonctionnalité de 84,1%. Ces différents
                ouvrages ont permis de faire passer le taux d’accès
                à l’eau potable de 52% à 65% en milieu rural.</p><p>
                Il y a une plus grande affirmation du rôle de l’Etat,
                notamment au niveau déconcentré où un minimum
                de moyens a été octroyé à toutes les directions
                régionales en charge de l’eau pour leur permettre
                de faire face à leur mission régalienne. Des progrès
                sont par ailleurs observés en matière d’implication
                des collectivités locales, de la société civile et du
                secteur privé. </p>
            <p> e cadre institutionnel a été caractérisé par
                de fréquents changements de structures et
                d’attributions à tous les niveaux, conduisant parfois
                à la perte de l’information, à la diminution des
                capacités et au déficit d‘information des administrés
                sur les missions de leur administration publique. </p>
            <p> L’ONEA a toutefois été épargnée par cette
                instabilité institutionnelle. Cet avantage couplé
                avec son autonomie de gestion et la qualité de sa
                gouvernance lui ont permis de se construire une
                notoriété qui dépasse les frontières du pays. Son
                modèle inspire un nombre croissant d’acteurs qui
                proposent une organisation similaire pour l’AEPA en
                milieu rural. </p>
            <p> En effet, 57 centres sont gérés par l’ONEA dont
                37 alimentés à partir d’eau souterraine, 12 à partir
                d’eau de surface et 7 à partir de source mixe (eau
                souterraine + eau de surface). La consommation
                totale au réseau ONEA est 68 079 447 m 3 soit un
                taux d’accès à l’eau potable en milieu urbain, au
                31 décembre 2015, de 89,9%. </p>
          </ion-card-content>
        </ion-card>
</ion-content>
