<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Taux d'accès à l'Eau Potable</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="region">
        Région
      </ion-segment-button>
      <ion-segment-button value="province">
        Province
      </ion-segment-button>
      <ion-segment-button value="commune">
        Commune
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'region'" class="animated fadeInLeft">
                <ion-searchbar  [(ngModel)]="term1"></ion-searchbar>
        <ion-grid>
            <ion-row  class="titre">
                <ion-col col-md-6 push-md-3>
                    Région
                </ion-col>
                <ion-col col-md-4 push-md-3 class="colval1  "  >
                    Taux d'accès
                </ion-col>
              </ion-row>
            <ion-row *ngFor="let item of displayData |filter:term1">
              <ion-col col-md-6 push-md-3>
                  {{ item[0] }}
              </ion-col>
              <ion-col col-md-4 push-md-3 class="colval">
                  {{ item[1] }} %
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'province'" class="animated fadeInUp">
                <ion-searchbar  [(ngModel)]="term2"></ion-searchbar>
        <ion-grid>
            <ion-row  class="titre">
                <ion-col col-md-6 push-md-3>
                    Région
                </ion-col>
                <ion-col col-md-6 push-md-3>
                    Province
                </ion-col>
                <ion-col col-md-4 push-md-3 class="colval1  "  >
                    Taux d'accès
                </ion-col>
              </ion-row>
            <ion-row *ngFor="let item of provinceData |filter:term2">
              <ion-col col-md-6 push-md-3>
                  {{ item.REGION }}
              </ion-col>
              <ion-col col-md-6 push-md-3>
                  {{ item.PROVINCE }}
              </ion-col>
              <ion-col col-md-4 push-md-3 class="colval">
                  {{ item.Taux }} %
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-list>
    <ion-list *ngSwitchCase="'commune'" class="animated fadeInRight">
                <ion-searchbar  [(ngModel)]="term3"></ion-searchbar>
        <ion-grid>
            <ion-row  class="titre">
                <ion-col col-md-4 push-md-3 class="com1">
                    Région
                </ion-col>
                <ion-col col-md-4 push-md-3 class="com1">
                    Province
                </ion-col>
                <ion-col col-md-2 push-md-3 class="com1">
                    Commune
                </ion-col>
                <ion-col col-md-2 push-md-3 class="colval1 com1 "  >
                    Taux d'accès
                </ion-col>
              </ion-row>
            <ion-row *ngFor="let item of communeData |filter:term3 ">
              <ion-col col-md-4 push-md-3 class="com1">
                  {{ item.REGION }}
              </ion-col>
              <ion-col col-md-4 push-md-3 class="com1">
                  {{ item.PROVINCE }}
              </ion-col>
              <ion-col col-md-4 push-md-3 class="com1">
                  {{ item.COMMUNE }}
              </ion-col>
              <ion-col col-md-4 push-md-3 class="com1 colval">
                  {{ item.Taux }} %
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-list>
  </div>
  <div align='left'>
<p align='left'>Source : INO 2017</p>    
  </div>
  <ion-fab right bottom>
    <button ion-fab fab-fixed color="light" (click)='openChartAep()' class="animated slideInUp vis" >
            <ion-img width="32px" height="32px" src="assets/imgs/graph.png"></ion-img>
        </button>
</ion-fab>
</ion-content>
