<!--
  Generated template for the GirefinancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Le programme PN-GIRE</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-card>
    <ion-card-header>
      <p style="color: orangered; text-align: center;">
        <strong> Financement </strong>
      </p>
    </ion-card-header>
    <ion-card-content>
      <p>Le budget total du Programme pour les quinze
        années se chiffre à 69 milliards de francs CFA. </p>
      <p> Le budget de la première tranche 2016-2020 se
        chiffre à 26,9 milliards de francs CFA.</p>
      <p>Les éléments d’évaluation des contributions
        financières estimées sont les suivants : </p>
        <ul>
          <li>
            L’Etat contribuera chaque année pour
            un milliard de francs CFA au budget du
            programme, soit un total de 15 milliards pour
            2016-2030, ce qui représente 22,17% du
            budget total.
          </li>
          <li>
            La CFE contribuera à hauteur de 15 milliards
            de francs CFA pour 2016-2030, représentant
            22,39% du budget total, soit un montant
            moyen d’un milliard de francs CFA par an.
          </li>
          <li>
            L’appui des partenaires techniques et
            financiers (55,45%) peut être envisagé selon
            quatre modalités qui sont l’appui budgétaire
            sectoriel, le panier commun de financement, le
            paiement direct et l’aide projet.
          </li>
          
        </ul>
      <p> </p>
    </ion-card-content>
  </ion-card>
</ion-content>
